.wrapper {
  background-color: var(--white);
  border-radius: 7%;
  box-shadow: var(--box-shadow-light-right-bottom);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px 24px 32px;
  margin: 0 16px;
  z-index: 10;

  .inputWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4px;
    height: 48px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--grey-brightness-ede);

    .svgIcon {
      fill: var(--grey-brightness-999);
      flex-shrink: 0;
    }

    input {
      margin-left: 8px;
      width: 100%;
      border: none;
      font-size: 18px;

      outline: none;
      caret-color: var(--red-brightness-e65);
    }

    .evcInput {
      flex-grow: 1;
      margin-right: 8px;
    }
  }
}
