.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-1-color1);
    overflow: hidden;
    z-index: -1;

    .bgCircle{
    position: absolute;
    width: 620px;
    height: 620px;
    background-color: var(--bg-1-color2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -115%);
    z-index: -1;
}
}

