.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--reviewPage-bg-color);
  height: 100vh;
  padding-top: 1em;

  > * {
    width: calc(100vw - 12vw);
    margin-bottom: 1em;

    &.footBar {
      width: 100vw;
      margin-bottom: 0;
    }
  }

  .wordWrapper {
    background-color: var(--reviewPage-wordWrapper-bg-color);
    color: var(--reviewPage-wordWrapper-word-text-color);
    border-radius: 8px;
    box-shadow: var(--reviewPage-wordWrapper-box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    position: relative;

    .menuIcon {
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      right: 0.75em;
      top: 0.5em;
    }

    .word {
      font-size: 24px;
    }

    .pronunciation {
      font-size: 14px;
      // 保证 voiceIcon 垂直居中
      display: flex;
      align-items: center;

      .voiceIcon {
        margin-left: 0.3em;
      }
    }
  }

  .detailWrapper {
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    padding: 18px;
    height: 100%;
    overflow: auto;
    font-size: 14px;

    h2 {
      color: white;
      border-radius: 3px;
      background-color: #e65f65;
      padding: 1px 4px;
      margin-bottom: 0.5em;
    }

    .meaning {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1em;

      .partOfSpeech {
        border-bottom: 3px solid #00d4f7;
        margin-bottom: 0.5em;
      }
    }

    .exampleListWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li > p {
        margin-bottom: 0.5em;

        strong {
          color: #e65f65;
          font-weight: normal;
        }

        &.translation {
          color: #999;
        }
      }
    }
  }

  .buttonListWrapper {
    display: flex;
    justify-content: space-between;

    button {
      border: none;
      font-size: 4.5vw;
      width: 6em;
      height: 2.5em;
      border-radius: 6%;
      color: white;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);

      &:active {
        filter: brightness(113%);
      }
    }

    li:first-child button {
      background-color: #4ac87e;
    }

    li:nth-child(2) button {
      background-color: #ff9f48;
    }

    li:nth-child(3) button {
      background-color: #e65f65;
    }
  }
}
