.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 6vw;
  background-color: #fef4f3;
  height: 100vh;

  .menuIcon {
    width: 2.5em;
    height: 2.5em;
    margin: 8px 0;
    margin-left: auto;
  }

  .wordWrapper {
    background-color: white;
    color: #e65f65;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;

    .ward {
      font-size: 44px;
    }

    .pronunciation {
      font-size: 18px;

      .voiceIcon {
        margin-left: 4px;
        height: 1em;
        width: 1em;
      }
    }
  }

  .detailWrapper {
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    padding: 18px;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    h2 {
      color: white;
      border-radius: 3px;
      background-color: #e65f65;
      font-size: 18px;
      padding: 2px 8px;
      margin-bottom: 0.5em;
      // 这里 h2 高度写死了所以直接用 px，后期修改时注意
      line-height: 24px;
    }

    .meaning {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1em;

      .partOfSpeech {
        border-bottom: 3px solid #00d4f7;
        margin-bottom: 0.5em;
      }
    }

    .examples {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li > p {
        margin-bottom: 0.5em;

        strong {
          color: #e65f65;
          font-weight: normal;
        }

        &.translation {
          color: #999;
        }
      }
    }
  }

  .buttonsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    margin-top: 16px;
    margin-bottom: 64px;

    button {
      border: none;
      font-size: 4.5vw;
      width: 6em;
      height: 2.5em;
      border-radius: 6%;
      color: white;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    }

    li:first-child button {
      background-color: #4ac87e;
    }

    li:nth-child(2) button {
      background-color: #ff9f48;
    }

    li:nth-child(3) button {
      background-color: #e65f65;
    }
  }
}
