.wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-1-color1);
  overflow: hidden;
  z-index: var(--bg-z-index);

  .bgCircle {
    position: absolute;
    width:160vw ;
    height: 160vw;
    background-color: var(--bg-1-color2);
    border-radius: 50%;
    top: -295px;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--bg-z-index);
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    .NeroLogoWithText {
      padding-top: 4vh;
      padding-bottom: 12px;
    }
  }
}
