.wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--backgroundWithCircle-bg-color);
  overflow: hidden;

  .bgCircle {
    position: absolute;
    width: 160vw;
    height: 160vw;
    background-color: var(--backgroundWithCircle-bgCircle-bg-color);
    border-radius: 50%;
    top: -295px;
    left: 50%;
    transform: translateX(-50%);
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    .NeroLogoWithText {
      // 顶部稍微多留防止刘海屏遮挡
      padding-top: 4vh;
      padding-bottom: 12px;
    }
  }
}
