.wrapper {
  display: flex;
  justify-content: space-around;
  background-color: var(--grey-brightness-level-1);
  border-top: var(--grey-brightness-level-4) 1px solid;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 0;
    color: var(--grey-brightness-level-5);
    font-size: 12px;

    &.selected {
      color: var(--red-brightness-level-1);
    }

    .svgIcon {
      width: 2.1em;
      height: 2.1em;
    }

    button {
      color: currentColor;
      background-color: transparent;
      border: none;
    }
  }
}
