.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--footBar-bg-color);
  width: 100%;
  border-top: var(--footBar-border-color) 1px solid;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 0;
    color: var(--footBar-li-text-color);
    font-size: 12px;

    &.selected {
      color: var(--footBar-li-selected-text-color);
    }

    .svgIcon {
      width: 2.1em;
      height: 2.1em;
    }

    button {
      color: currentColor;
      background-color: transparent;
      border: none;
    }
  }
}
