.roundButton {
  width: 7.5em;
  margin-left: auto;
  height: 2em;
  border-radius: 1em;
  border: none;
  color: var(--round-button-text-color);
  background-color: var(--round-button-bg-color);
  transition: all 0.3s ease;
  position: relative;
  // 防止在 flex 布局中被压缩
  flex-shrink: 0;
}

.roundButton:active {
  top: 1px;
}
