.squareButton {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  color: var(--square-button-text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
  background: var(--square-button-bg-color);
  border: none;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: var(--square-button-shadow);
}

.squareButton:active {
  top: 2px;
}
